#### Equations
##### A statement that the values of two mathematical expressions are equal (indicated by the sign =)

In [3]:
import pandas as pd

# Create a dataframe with an x column containing values from -10 to 10
df = pd.DataFrame ({'x': range(-10, 11)})

# Add a y column by applying the solved equation to x
df['y'] = (3*df['x'] - 4) / 2

#Display the dataframe
df

     x     y
0  -10 -17.0
1   -9 -15.5
2   -8 -14.0
3   -7 -12.5
4   -6 -11.0
5   -5  -9.5
6   -4  -8.0
7   -3  -6.5
8   -2  -5.0
9   -1  -3.5
10   0  -2.0
11   1  -0.5
12   2   1.0
13   3   2.5
14   4   4.0
15   5   5.5
16   6   7.0
17   7   8.5
18   8  10.0
19   9  11.5
20  10  13.0